.c-item{
    height: 480px;
}
.c-img{
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
}
.text-shadow-custom{
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.modal-para-registro{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: #ffffff;
}
.form-floating > .form-control{
    padding-right:3.5rem;
}
.form-floating .toggle-password{
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    z-index: 3;
    font-size: 1.2rem;
    transition: color 0.2s ease-in-out;
}
.toggle-password:hover{
    color: #333;
}